<footer class="mt-8 pt-6 pb-4 border-t-2 border-dashed flex">
  <div class="basis-1/2">
    <ul class="w-full flex">
      <li class="px-3 border-r-2 border-slate-400">
        mail[]petergundel.de
      </li>
      <li class="px-3 border-r-2 border-slate-400">
        <a class="hover:underline cursor-pointer" href="https://github.com/peterfication">Github</a>
      </li>
      <li class="px-3">
        <a class="hover:underlin cursor-pointer" href="https://www.linkedin.com/in/peter-gundel-a26746104/">LinkedIn</a>
      </li>
    </ul>
  </div>
  <div class="basis-1/2 text-right">
    Producing serious code since 2009.
  </div>
</footer>
